--
-- PostgreSQL database dump
--

\restrict rGj2FyZmUYjoHKWofitrJ47aE5sARlOxY1JFqXNAzOK630xVRM9T7UE9bHYrkUb

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: set_updated_at(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.set_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.updated_at = NOW();

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.set_updated_at() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _CategoryToMaterial; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."_CategoryToMaterial" (
    "A" uuid NOT NULL,
    "B" uuid NOT NULL
);


ALTER TABLE public."_CategoryToMaterial" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    value text NOT NULL,
    type text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: constructions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.constructions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    level integer NOT NULL,
    module_type text DEFAULT 'konstruksi'::text NOT NULL,
    description text,
    image text,
    parent_id uuid,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) with time zone
);


ALTER TABLE public.constructions OWNER TO postgres;

--
-- Name: listrikpedia; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.listrikpedia (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    abbr text NOT NULL,
    name text NOT NULL,
    description text,
    type text DEFAULT 'singkatan'::text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) with time zone
);


ALTER TABLE public.listrikpedia OWNER TO postgres;

--
-- Name: material_assets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.material_assets (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    material_id uuid NOT NULL,
    name text,
    file text
);


ALTER TABLE public.material_assets OWNER TO postgres;

--
-- Name: materials; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.materials (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    code text,
    "bgGradient" text,
    description text,
    image text,
    created_at timestamp(3) without time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone
);


ALTER TABLE public.materials OWNER TO postgres;

--
-- Name: mesh_config; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mesh_config (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    module_id uuid NOT NULL,
    mesh_original_name text NOT NULL,
    mesh_display_name text,
    is_visible boolean DEFAULT true NOT NULL
);


ALTER TABLE public.mesh_config OWNER TO postgres;

--
-- Name: module_assets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.module_assets (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    module_id uuid NOT NULL,
    name text NOT NULL,
    file text NOT NULL,
    animation text DEFAULT 'none'::text NOT NULL,
    cam_pos_x double precision,
    cam_pos_y double precision,
    cam_pos_z double precision,
    target_x double precision,
    target_y double precision,
    target_z double precision
);


ALTER TABLE public.module_assets OWNER TO postgres;

--
-- Name: module_material_meshes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.module_material_meshes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    module_material_id uuid NOT NULL,
    mesh_name text NOT NULL
);


ALTER TABLE public.module_material_meshes OWNER TO postgres;

--
-- Name: module_materials; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.module_materials (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    module_id uuid NOT NULL,
    material_id uuid NOT NULL,
    quantity integer DEFAULT 1 NOT NULL
);


ALTER TABLE public.module_materials OWNER TO postgres;

--
-- Name: module_tools; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.module_tools (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    module_id uuid NOT NULL,
    tool_id uuid NOT NULL,
    mesh_name text
);


ALTER TABLE public.module_tools OWNER TO postgres;

--
-- Name: modules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.modules (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title text NOT NULL,
    description text,
    image text,
    status text DEFAULT 'Draft'::text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone,
    construction_id uuid,
    CONSTRAINT modules_status_check CHECK ((status = ANY (ARRAY['Aktif'::text, 'Draft'::text, 'Nonaktif'::text])))
);


ALTER TABLE public.modules OWNER TO postgres;

--
-- Name: question_options; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.question_options (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    question_id uuid NOT NULL,
    text text NOT NULL,
    is_correct boolean DEFAULT false NOT NULL
);


ALTER TABLE public.question_options OWNER TO postgres;

--
-- Name: questions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.questions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    quiz_id uuid NOT NULL,
    type text NOT NULL,
    text text NOT NULL
);


ALTER TABLE public.questions OWNER TO postgres;

--
-- Name: quiz_submissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quiz_submissions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    quiz_id uuid NOT NULL,
    participant_name text NOT NULL,
    score double precision NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.quiz_submissions OWNER TO postgres;

--
-- Name: quizzes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quizzes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title text NOT NULL,
    code text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.quizzes OWNER TO postgres;

--
-- Name: tools; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tools (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    "bgGradient" text,
    description text,
    standard text,
    status text,
    file3d text,
    image text,
    created_at timestamp(3) without time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone,
    category_id uuid
);


ALTER TABLE public.tools OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email text NOT NULL,
    password_hash text NOT NULL,
    name text NOT NULL,
    unit text DEFAULT '-'::text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    status text DEFAULT 'Offline'::text NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: _CategoryToMaterial; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: constructions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: listrikpedia; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: material_assets; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: materials; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: mesh_config; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: module_assets; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: module_material_meshes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.module_material_meshes (id, module_material_id, mesh_name) FROM stdin;
\.


--
-- Data for Name: module_materials; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: module_tools; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.module_tools (id, module_id, tool_id, mesh_name) FROM stdin;
\.


--
-- Data for Name: modules; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.modules (id, title, description, image, status, created_at, updated_at, construction_id) FROM stdin;
f3ed4576-c0a0-4601-9f52-db483eb87cc0	Konstruksi Rumah	contoh pada konstruksi ini adalah kons. sambungan rumah satu phasa menggunakan material strain hook.	/uploads/images/1782703148449_73894.png	Aktif	2026-06-29 03:19:08.628	2026-07-09 14:41:00.11775+07	b8f1eaf1-2179-4f2c-92bf-743aa9234613
\.


--
-- Data for Name: question_options; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.question_options (id, question_id, text, is_correct) FROM stdin;
7ad702bd-5654-49da-938d-614fcd3d2d1c	8f54db23-76e8-4961-af48-aaa268cf9ad2	2	t
f3896056-c0d6-46b3-b4ef-9e7802423f3d	8f54db23-76e8-4961-af48-aaa268cf9ad2	9	f
\.


--
-- Data for Name: questions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.questions (id, quiz_id, type, text) FROM stdin;
8f54db23-76e8-4961-af48-aaa268cf9ad2	da55ac19-d7f2-4fad-bf29-ded06cd2a2ce	PG	1+1
\.


--
-- Data for Name: quiz_submissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.quiz_submissions (id, quiz_id, participant_name, score, created_at) FROM stdin;
0601e15c-2004-41dd-9c5f-028771adf8cb	da55ac19-d7f2-4fad-bf29-ded06cd2a2ce	qwer	100	2026-07-09 07:04:33.906
\.


--
-- Data for Name: quizzes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.quizzes (id, title, code, created_at) FROM stdin;
da55ac19-d7f2-4fad-bf29-ded06cd2a2ce	Kuis Tanpa Judul	GGVI9Y	2026-07-09 07:04:22.674
\.


--
-- Data for Name: tools; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, email, password_hash, name, unit, created_at, status) FROM stdin;
9797b979-0072-4fed-a098-5bb5c579619a	tester@gmail.com	$2b$10$UK4xY0zTLEPJLRAYQeneVu6qzyxc0UGNQ434IZCSUg/nEr6yts9Bm	Farrell	Pusat	2026-06-17 08:34:10.789	Offline
8ec191bb-754b-44fd-a052-654b54d413ab	yongky@gmail.com	$2b$10$QXKwp7aM5W5tH0dVN70Vc.dFpw3CSZviBuElvc5qgOlmz2.DKg5hK	Yongky	PUSAT	2026-06-29 02:40:21.604	Online
3f2b7493-5e45-40ee-ac57-2d97db05abe3	admin@gmail.com	$2b$10$l/A3AClHNHVr4pSGOLcaS.zCI0Dhd1BrjN6gNUTM757A4Rb4A69oG	Super Admin	Pusat	2026-05-06 10:45:16.072	Online
\.


--
-- Name: _CategoryToMaterial _CategoryToMaterial_AB_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."_CategoryToMaterial"
    ADD CONSTRAINT "_CategoryToMaterial_AB_pkey" PRIMARY KEY ("A", "B");


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: constructions constructions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.constructions
    ADD CONSTRAINT constructions_pkey PRIMARY KEY (id);


--
-- Name: listrikpedia listrikpedia_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.listrikpedia
    ADD CONSTRAINT listrikpedia_pkey PRIMARY KEY (id);


--
-- Name: material_assets material_assets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material_assets
    ADD CONSTRAINT material_assets_pkey PRIMARY KEY (id);


--
-- Name: materials materials_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.materials
    ADD CONSTRAINT materials_pkey PRIMARY KEY (id);


--
-- Name: mesh_config mesh_config_module_id_mesh_original_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mesh_config
    ADD CONSTRAINT mesh_config_module_id_mesh_original_name_key UNIQUE (module_id, mesh_original_name);


--
-- Name: mesh_config mesh_config_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mesh_config
    ADD CONSTRAINT mesh_config_pkey PRIMARY KEY (id);


--
-- Name: module_assets module_assets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.module_assets
    ADD CONSTRAINT module_assets_pkey PRIMARY KEY (id);


--
-- Name: module_material_meshes module_material_meshes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.module_material_meshes
    ADD CONSTRAINT module_material_meshes_pkey PRIMARY KEY (id);


--
-- Name: module_materials module_materials_module_id_material_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.module_materials
    ADD CONSTRAINT module_materials_module_id_material_id_key UNIQUE (module_id, material_id);


--
-- Name: module_materials module_materials_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.module_materials
    ADD CONSTRAINT module_materials_pkey PRIMARY KEY (id);


--
-- Name: module_tools module_tools_module_id_tool_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.module_tools
    ADD CONSTRAINT module_tools_module_id_tool_id_key UNIQUE (module_id, tool_id);


--
-- Name: module_tools module_tools_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.module_tools
    ADD CONSTRAINT module_tools_pkey PRIMARY KEY (id);


--
-- Name: modules modules_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modules
    ADD CONSTRAINT modules_pkey PRIMARY KEY (id);


--
-- Name: question_options question_options_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.question_options
    ADD CONSTRAINT question_options_pkey PRIMARY KEY (id);


--
-- Name: questions questions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_pkey PRIMARY KEY (id);


--
-- Name: quiz_submissions quiz_submissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_submissions
    ADD CONSTRAINT quiz_submissions_pkey PRIMARY KEY (id);


--
-- Name: quizzes quizzes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quizzes
    ADD CONSTRAINT quizzes_pkey PRIMARY KEY (id);


--
-- Name: tools tools_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tools
    ADD CONSTRAINT tools_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: _CategoryToMaterial_B_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "_CategoryToMaterial_B_index" ON public."_CategoryToMaterial" USING btree ("B");


--
-- Name: categories_value_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX categories_value_key ON public.categories USING btree (value);


--
-- Name: constructions_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX constructions_slug_key ON public.constructions USING btree (slug);


--
-- Name: quizzes_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX quizzes_code_key ON public.quizzes USING btree (code);


--
-- Name: materials trg_materials_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_materials_updated_at BEFORE UPDATE ON public.materials FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: modules trg_modules_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_modules_updated_at BEFORE UPDATE ON public.modules FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: tools trg_tools_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_tools_updated_at BEFORE UPDATE ON public.tools FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: _CategoryToMaterial _CategoryToMaterial_A_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."_CategoryToMaterial"
    ADD CONSTRAINT "_CategoryToMaterial_A_fkey" FOREIGN KEY ("A") REFERENCES public.categories(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _CategoryToMaterial _CategoryToMaterial_B_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."_CategoryToMaterial"
    ADD CONSTRAINT "_CategoryToMaterial_B_fkey" FOREIGN KEY ("B") REFERENCES public.materials(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: constructions constructions_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.constructions
    ADD CONSTRAINT constructions_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.constructions(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: material_assets material_assets_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material_assets
    ADD CONSTRAINT material_assets_material_id_fkey FOREIGN KEY (material_id) REFERENCES public.materials(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: mesh_config mesh_config_module_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mesh_config
    ADD CONSTRAINT mesh_config_module_id_fkey FOREIGN KEY (module_id) REFERENCES public.modules(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: module_assets module_assets_module_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.module_assets
    ADD CONSTRAINT module_assets_module_id_fkey FOREIGN KEY (module_id) REFERENCES public.modules(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: module_material_meshes module_material_meshes_module_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.module_material_meshes
    ADD CONSTRAINT module_material_meshes_module_material_id_fkey FOREIGN KEY (module_material_id) REFERENCES public.module_materials(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: module_materials module_materials_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.module_materials
    ADD CONSTRAINT module_materials_material_id_fkey FOREIGN KEY (material_id) REFERENCES public.materials(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: module_materials module_materials_module_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.module_materials
    ADD CONSTRAINT module_materials_module_id_fkey FOREIGN KEY (module_id) REFERENCES public.modules(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: module_tools module_tools_module_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.module_tools
    ADD CONSTRAINT module_tools_module_id_fkey FOREIGN KEY (module_id) REFERENCES public.modules(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: module_tools module_tools_tool_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.module_tools
    ADD CONSTRAINT module_tools_tool_id_fkey FOREIGN KEY (tool_id) REFERENCES public.tools(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: modules modules_construction_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modules
    ADD CONSTRAINT modules_construction_id_fkey FOREIGN KEY (construction_id) REFERENCES public.constructions(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: question_options question_options_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.question_options
    ADD CONSTRAINT question_options_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.questions(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: questions questions_quiz_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_quiz_id_fkey FOREIGN KEY (quiz_id) REFERENCES public.quizzes(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: quiz_submissions quiz_submissions_quiz_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_submissions
    ADD CONSTRAINT quiz_submissions_quiz_id_fkey FOREIGN KEY (quiz_id) REFERENCES public.quizzes(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: tools tools_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tools
    ADD CONSTRAINT tools_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: materials Enable All for Backend; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Enable All for Backend" ON public.materials USING (true) WITH CHECK (true);


--
-- Name: mesh_config Enable All for Backend; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Enable All for Backend" ON public.mesh_config USING (true) WITH CHECK (true);


--
-- Name: module_assets Enable All for Backend; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Enable All for Backend" ON public.module_assets USING (true) WITH CHECK (true);


--
-- Name: module_materials Enable All for Backend; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Enable All for Backend" ON public.module_materials USING (true) WITH CHECK (true);


--
-- Name: module_tools Enable All for Backend; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Enable All for Backend" ON public.module_tools USING (true) WITH CHECK (true);


--
-- Name: modules Enable All for Backend; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Enable All for Backend" ON public.modules USING (true) WITH CHECK (true);


--
-- Name: tools Enable All for Backend; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Enable All for Backend" ON public.tools USING (true) WITH CHECK (true);


--
-- Name: categories; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.categories ENABLE ROW LEVEL SECURITY;

--
-- Name: material_assets; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.material_assets ENABLE ROW LEVEL SECURITY;

--
-- Name: material_assets material_assets_delete; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY material_assets_delete ON public.material_assets FOR DELETE USING (true);


--
-- Name: material_assets material_assets_insert; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY material_assets_insert ON public.material_assets FOR INSERT WITH CHECK (true);


--
-- Name: material_assets material_assets_select; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY material_assets_select ON public.material_assets FOR SELECT USING (true);


--
-- Name: material_assets material_assets_update; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY material_assets_update ON public.material_assets FOR UPDATE USING (true) WITH CHECK (true);


--
-- Name: materials; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.materials ENABLE ROW LEVEL SECURITY;

--
-- Name: materials materials_delete; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY materials_delete ON public.materials FOR DELETE USING (true);


--
-- Name: materials materials_insert; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY materials_insert ON public.materials FOR INSERT WITH CHECK (true);


--
-- Name: materials materials_select; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY materials_select ON public.materials FOR SELECT USING (true);


--
-- Name: materials materials_update; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY materials_update ON public.materials FOR UPDATE USING (true) WITH CHECK (true);


--
-- Name: mesh_config; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.mesh_config ENABLE ROW LEVEL SECURITY;

--
-- Name: module_assets; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.module_assets ENABLE ROW LEVEL SECURITY;

--
-- Name: module_assets module_assets_delete; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY module_assets_delete ON public.module_assets FOR DELETE USING (true);


--
-- Name: module_assets module_assets_insert; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY module_assets_insert ON public.module_assets FOR INSERT WITH CHECK (true);


--
-- Name: module_assets module_assets_select; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY module_assets_select ON public.module_assets FOR SELECT USING (true);


--
-- Name: module_assets module_assets_update; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY module_assets_update ON public.module_assets FOR UPDATE USING (true) WITH CHECK (true);


--
-- Name: module_materials; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.module_materials ENABLE ROW LEVEL SECURITY;

--
-- Name: module_materials module_materials_delete; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY module_materials_delete ON public.module_materials FOR DELETE USING (true);


--
-- Name: module_materials module_materials_insert; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY module_materials_insert ON public.module_materials FOR INSERT WITH CHECK (true);


--
-- Name: module_materials module_materials_select; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY module_materials_select ON public.module_materials FOR SELECT USING (true);


--
-- Name: module_materials module_materials_update; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY module_materials_update ON public.module_materials FOR UPDATE USING (true) WITH CHECK (true);


--
-- Name: module_tools; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.module_tools ENABLE ROW LEVEL SECURITY;

--
-- Name: module_tools module_tools_delete; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY module_tools_delete ON public.module_tools FOR DELETE USING (true);


--
-- Name: module_tools module_tools_insert; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY module_tools_insert ON public.module_tools FOR INSERT WITH CHECK (true);


--
-- Name: module_tools module_tools_select; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY module_tools_select ON public.module_tools FOR SELECT USING (true);


--
-- Name: module_tools module_tools_update; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY module_tools_update ON public.module_tools FOR UPDATE USING (true) WITH CHECK (true);


--
-- Name: modules; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.modules ENABLE ROW LEVEL SECURITY;

--
-- Name: modules modules_delete; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY modules_delete ON public.modules FOR DELETE USING (true);


--
-- Name: modules modules_insert; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY modules_insert ON public.modules FOR INSERT WITH CHECK (true);


--
-- Name: modules modules_select; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY modules_select ON public.modules FOR SELECT USING (true);


--
-- Name: modules modules_update; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY modules_update ON public.modules FOR UPDATE USING (true) WITH CHECK (true);


--
-- Name: tools; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.tools ENABLE ROW LEVEL SECURITY;

--
-- Name: tools tools_delete; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY tools_delete ON public.tools FOR DELETE USING (true);


--
-- Name: tools tools_insert; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY tools_insert ON public.tools FOR INSERT WITH CHECK (true);


--
-- Name: tools tools_select; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY tools_select ON public.tools FOR SELECT USING (true);


--
-- Name: tools tools_update; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY tools_update ON public.tools FOR UPDATE USING (true) WITH CHECK (true);


--
-- Name: users; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.users ENABLE ROW LEVEL SECURITY;

--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO postgres;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON FUNCTIONS TO postgres;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO postgres;


--
-- PostgreSQL database dump complete
--

\unrestrict rGj2FyZmUYjoHKWofitrJ47aE5sARlOxY1JFqXNAzOK630xVRM9T7UE9bHYrkUb

